* {
    padding: 0;
    margin: 0;
    font-family: "Arial Narrow";
    font-size: 110%;
    text-align: center;
    box-sizing: border-box;
}
.main-container {
    height: 50vh;
    margin-top: 15vh;
}
.main-container > *{
    height: 100%;
}
.top{
    height: 20%;
}
.bottom{
    margin-top: 1vh;
    height: 80%;
}
.row_fullheight{
    height: 100%;
}
.col_fullheight{
    height: 100%;
}
.display {
    height: 100%;
    background-color: grey;
    border-radius: 5%;
    box-shadow: 2px 2px 15px black;
}
.side div {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.keys {
    text-align: center;
    padding: 2vh 0 2vh 0;
    box-sizing: border-box;
    background-color: dimgrey;
    color: white;
    border-radius: 5%;
    box-shadow: 3px 3px 15px black;
}
.keys:hover {
    background-color: mediumturquoise;
}
.operators {
    background-color: orange;
}
.all-clear {
    background-color: tomato;
}
.clear {
    background-color: darkorange;
}
.equals {
    background-color: firebrick;
}
