* {
    padding: 0;
    margin: 0;
    font-family: "Arial Narrow";
    font-size: 110%;
    text-align: center;
    box-sizing: border-box;
    border: white 1px solid;
}
.main-container {
    height: 50vh;
    margin-top: 15vh;
}
body {
    background-image:
}
.output {
    display: inline;
    height: 13.6vh;
}
.bottom {
    margin-top: 1vh;
}
.keys {
    text-align: center;
    padding: 2vh 0 2vh 0;
    box-sizing: border-box;
    background-color: grey;
    color: white;
    display: inline block;
}
.keys:hover {
    background-color: cyan;
}
.operators {
    background-color: orange;
}
.all-clear {
    background-color: tomato;
}
.clear {
    background-color: darkorange;
}
.equals {
    background-color: red;
}