* {
    padding: 0;
    margin: 0;
    font-family: "arial";
    font-size: 110%;
    text-align: center;
    box-sizing: border-box;
}
body {
    background-image: url("images/background.png");
}
.main-container {
    height: 50vh;
    margin-top: 15vh;
}
.main-container > *{
    height: 100%;
}
.top{
    height: 20%;
}
.bottom{
    height: 80%;
}
.row_fullheight{
    height: 100%;
}
.col_fullheight{
    height: 100%;
}
.display {
    height: 100%;
    background: rgba(192,192,192,0.1);
    border-radius: 5%;
    box-shadow: 2px 2px 15px black;
    font-size: 150%;
    color: white;
    text-align: right;
    padding-right: 1vw;
    font-weight: lighter;
}
.keys {
    text-align: center;
    padding: 2vh 0 2vh 0;
    box-sizing: border-box;
    background: rgba(105,105,105,0.5);
    color: white;
    border-radius: 5%;
    box-shadow: 3px 3px 15px black;
    font-weight: 100;
}
.topbar {
    text-align: center;
    box-sizing: border-box;
    color: white;
    border-radius: 8%;
    box-shadow: 3px 3px 15px black;
    font-weight: 100;
    height: 100%;
    width: 100%;
    margin-top: 0.5vh;
    padding: 0.15em;
}
button:hover {
    background-color: mediumturquoise;
}
.operators {
    background: rgba(255,153,0,0.5);
}
.clear-entry {
    background: rgba(255,99,71,0.5);
}
.clear {
    background: rgba(255,127,0,0.5);
}
.equals {
    background: rgba(205,38,38,0.5);
}


@media screen and (max-width: 627px) {
    .display {
        font-size: 15px;
    }
}